@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,600&display=swap');

.aviso-cookies{
    display: none;
	background: #fff;
	padding: 20px;
	width: calc(100% - 40px);
	max-width: 300px;
	line-height: 150%;
	border-radius: 10px;
	position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 100;
	padding-top: 60px;
	box-shadow: 0px 2px 20px 10px rgba(116, 116, 116, 0.25);
	text-align: center;
}

.aviso-cookies.activo{
    display: block;
}

.aviso-cookies.activo .no_scroll{
    overflow:hidden;
}

.aviso-cookies .galleta{
    max-width: 100px;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

.aviso-cookies .titulo,
.aviso-cookies .parrafo {
	margin-bottom: 15px;
}

.aviso-cookies .boton {
	width: 100%;
	background: #595959;
	border: none;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding: 15px 20px;
	font-weight: 700;
	cursor: pointer;
	transition: .3s ease all;
	border-radius: 5px;
	margin-bottom: 15px;
	font-size: 14px;
}

.aviso-cookies .boton:hover {
	background: #000;
}

.aviso-cookies .enlace {
	color: #4DBFFF;
	text-decoration: none;
	font-size: 14px;
}

.aviso-cookies .enlace:hover {
	text-decoration: underline;
}

.fondo-aviso-cookies {
	display: none;
	background: rgba(0,0,0,.20);
	position: fixed;
	z-index: 99;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}

.fondo-aviso-cookies.activo{
    display: block;
}


  .ads{
	display: flex;
	flex-direction: column;
	margin: 1rem auto;
	box-shadow: 0 3px 7px -1px rgba(#000, .1);
	margin-bottom: 1.6%;
	background: white;
	line-height: 1.4;
	font-family: sans-serif;
	border-radius: 5px;
	overflow: hidden;
	z-index: 0;
	text-align: center;
	display:table-row;
	box-shadow: 0px 0px 5px 1px black;
  }

  .info-amazon{
	font-size: 77%;
	font-family: 'Nunito Sans', sans-serif;
  }

  a {
	color: inherit;
  }

  a:hover {
	color: #d65a5a;
  }

.izq{
	display:table-cell;
	border:0px solid black;
	width:25%;
	padding:10px;
}

  .ads img{
	width: 20%;
	margin:auto;
	display:block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform .2s;
  }
  
  .titlle-shop{
    color: #38B5FD;
}

  @media screen and (max-width: 618px){
     
	.izq h3{
		font-size: 85%;
	}

}
@media screen and (max-width: 618px){
     
	.info-amazon{
		font-size: 47%;
	  }

}
@media screen and (max-width: 618px){
     
	.izq h3{
		font-size: 45%;
	}
	.info-amazon{
		font-size: 37%;
	  }


}