@charset "utf-8";
.tarjeta{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  width:420px;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius:15px;
  font-family: sans-serif;
  float: left;
}
.titulo{
  font-size: 24px;
  padding: 10px 10px 0 10px;;
  color: #128C7E;
}
.cuerpo{
  padding: 10px;
}
.pie{
  /*background: #6699ff;*/
  background: rgb(44,212,107);
  background: linear-gradient(90deg, rgba(44,212,107,1) 0%, rgba(247,39,0,1) 100%);
  border-radius:0 0 15px 15px;
  padding: 10px;
  text-align:center;
}
.pie a{
  text-decoration: none;
  color: white;
}
/*.pie a:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: ""
}*/
