footer{
    background: rgb(21,21,21);
    background: linear-gradient(90deg, rgba(21,21,21,1) 0%, rgba(175,0,0,1) 100%);
    padding: 80px 0px;
}

footer .foo-row{
    display: flex;
    justify-content: space-between;
}

footer .info{
    color: white;
}

footer .foo-row .foo-col{
    width: 50%;
}

footer .foo-row .foo-col:last-child{
    margin-left: 50px;
}

footer .foo-row .foo-col:first-child{
    margin-right: 50px;
}

footer .foo-row .foo-col h2{
    color: #E3E3E3;
    line-height: 40px;

    font-size: 33px;
    font-weight: 500;
    margin-bottom: 20px;
}

footer form .f-input{
    width: 100%;
    position: relative;
}

footer form .f-input input{
    width: 100%;
    display: block;
    padding: 16px 30px;
    background: #2C2B2B;
    border: none;
    padding-right: 50px;
    font-size: 15px;
    border-radius: 25px;
    outline: 0;
    color: #A7A1A1;
}

footer form .f-input .hm-btn-round{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 42px;
    height: 42px;
    border: none;
    font-size: 18px;margin-right: 3px;
    cursor: pointer;
}


footer .foo-row .foo-col ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .foo-row .foo-col ul li{
    width: 50%;
    margin-bottom: 16px;
}

footer .foo-row .foo-col ul li a{
    color: #E3E3E3;
    font-size: 15px;
}

footer .foo-row .foo-col ul li a:hover{
    color: var(--color-principal);
    text-decoration: underline;
}


.foo-copy{
    background: #000000;
    padding: 40px 0px;
}

.foo-copy p{
    text-align: center;
    color: #E3E3E3;
    font-size: 14px;
    font-weight: 300;
}