body{
    background-image: url(/JB/compatibilidad-con-JB/img/HD-wallpaper-ios-15-ipados-15-wwdc-2021.jpg);
    background-size: cover;
    color: rgb(0, 0, 0);
}

tr{
    background-color: #70af47;
}

.color1{
 background-color: #d6e3cf;
}

.color2{
    background-color: #ecf1ea;
}