:root{
    --gradient:  linear-gradient(to right, 
      #1f2937,
      #1f2937,
      #833F46,
      #425166,
      #a55b62,
      #425166
    );
  }





body{
    background-image: var(--gradient);
    background-size: 400%;
    animation: fondo-anim 20s infinite alternate;
}

@keyframes fondo-anim{
    0%{background-position: bottom;} /*por defecto*/
    100%{background-position: right;}
  }

@import url('https://fonts.googleapis.com/css2?family=Explora&family=Nunito+Sans:ital,wght@1,600&display=swap');

.table2{
  border: #ffffff 1px solid;
  border-collapse: collapse;
}

.tbody2{
border: rgb(0, 0, 0) 1px solid;
}

.td2{
border: rgb(255, 255, 255) 1px solid;
margin: 17px;
padding: 15px;
}

table {
  border: #FFFFFF 1px solid;
}
td {
  border: rgb(156, 156, 156) 1px solid;
  color: white;
}
table {
  border-collapse: collapse;
}
td {
margin: 9px;
padding: 0px;
}

p1 {
color: white;
}

.cel{
  font-size: 10px;
  font-family: 'Explora', cursive;
  font-family: 'Nunito Sans', sans-serif;
}

.no-actualizar{
  color: red;
  font-size: 11px;
}

.model{
  font-size: 11px;
}

.tipo{
  font-size: 18px;
}

.palera1n{
  margin-left: 85px;
  border-radius: 95px;
  float: left;
}

.text-parlera1n{
  margin-right: 800px;
  margin-bottom: 15px;
  color: #FFFFFF;
  font-size: 35px;
}

.text-parlera1n2{
  margin-left: 300px;
  margin-bottom: 0px;
  color: #FFFFFF;
  font-size: 35px;
}

.encabezado{
    color: #DF7F04 !important;
}